<Selector>
  <Code delimiters="[]" type="Standard">
    <value key="!">Verified Good</value>
    <value key="b">Bad Dump</value>
    <value key="f">Fixed</value>
    <value key="h">Hack</value>
    <value key="o">Overdump</value>
    <value key="p">Pirate</value>
    <value key="t">Trained</value>
    <value key="Unl">Unlicensed</value>
  </Code>
  <Code delimiters="()" type="Country">
    <value key="U">United States</value>
    <value key="J">Japan</value>
    <value key="G">Germany</value>
    <value key="E">Europe</value>
    <value key="UK">United Kingdom</value>
    <value key="K">Korea</value>
    <value key="F">France/World</value>
    <value key="I">Italy</value>
    <value key="A">Australia</value>
    <value key="B">Non USA</value>
    <value key="C">China</value>
    <value key="FC">French Canadian</value>
    <value key="FN">Finland</value>
    <value key="GR">Greece</value>
    <value key="HK">Hong Kong</value>
    <value key="H">Holland</value>
    <value key="NL">Netherlands</value>
    <value key="S">Spain</value>
    <value key="SW">Sweden</value>
    <value key="PD">Public Domain</value>
    <value key="Unk">Unknown Country</value>
    <value key="Unl">Unlicense</value>
    <value key="1">Japan and Korea</value>
    <value key="4">USA and Brazil</value>
  </Code>
  <Emulator name="SNES">
    <Path>/usr/bin/zsnes</Path>
    <Args>-m</Args>
    <Extension>.smc</Extension>
    <Search>
      <dir>/mnt/SimpleDrive/roms/snes/SNES Roms (GoodMerged, 2.04)</dir>
    </Search>
  </Emulator>
  <Emulator name="Genesis">
    <Path>/usr/bin/gens</Path>
    <Args>--fs</Args>
    <Extension>.smd</Extension>
    <Search>
      <dir>/mnt/SimpleDrive/roms/genesis</dir>
    </Search>
  </Emulator>
  <Emulator name="NES">
    <Path>/usr/bin/fceux</Path>
    <Args>--nogui 1</Args>
    <Extension>.nes</Extension>
    <Search>
      <dir>/mnt/SimpleDrive/roms/nes</dir>
    </Search>
  </Emulator>
  <Emulator name="Nintendo 64">
    <Path>/usr/bin/mupen64plus</Path>
    <Args>--resolution 1680x1050 --fullscreen</Args>
    <Extension>.z64</Extension>
    <Search>
      <dir>/mnt/SimpleDrive/roms/64/roms</dir>
    </Search>
  </Emulator>
</Selector>
